.home {
    background-color: #EDEDED;
}
    .home header {
        padding: 2rem 5rem;
        width: 60%;
        margin: 0 auto;
        transition: all .4s ease-in-out;

        @media screen and (max-width: 1530px) {
            width: 95%;
        }
    }

 .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}      

.filterBtn {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .7rem 1.5rem;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    background-color: #fff;
    cursor: pointer;
    transition: all .4s ease-in-out;
    font-family: inherit;
    border: 5px solid #e5e7eb;
            }

.searchForm {
    position: relative;
    width: 100%;
}

.inputControl {
    position: relative;
    transition: all .4s ease-in-out;
}
    .inputControl input {
        width: 100%;
        padding:.7rem 1rem;
        border: none;
        outline: none;
        border-radius: 30px;
        font-size: 1.2rem;
        background-color: #fff;
        border: 5px solid #e5e7eb;
        transition: all .4s ease-in-out;
    }
    .inputControl button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
