.sidebarStyle {
    margin-top: 2rem;
    background-color: #fff;
    border-top : 5px solid #e5e7eb;
    padding-right: 5rem;
    padding-left: 2rem;
    padding-top: 2rem;
}
    .sidebarStyle .anime {
        display: flex;
        flex-direction: column;
        width: 150px;
    }
        .sidebarStyle .anime img {
            width: 100%;
            border-radius: 5px;
            border: 5px solid #e5e7eb;
        }
        .sidebarStyle .anime a {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: .4rem;
            color: #27AE60;
        }
            .sidebarStyle .anime a h4 {
                font-size: 1.1rem;
            }
        