.popularPage {
    display: flex;
}
    .popularPage .upcomingAnime {
        margin-top: 2rem;
        padding: 2rem 0 2rem 5rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2rem;
        background-color: #fff;
        border-top: 5px solid #e5e7eb;
    }
    .popularPage .upcomingAnime a {
        height: 500px;
        border-radius: 7px;
        border: 5px solid #e5e7eb;
    }
        .popularPage .upcomingAnime a img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }